

.radio-panel {
    position: relative;
    width: 20rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1000vw;
    background: linear-gradient(177deg, hsl(264, 92%, 53%) 0%, rgba(59,4,125,1) 100%);
    box-shadow: -9px -9px 16px hsla(225, 99%, 67%, 0.50), -1px -1px 0 hsla(264, 91%, 63%, 1.00), 9px 9px 16px #0008;
    z-index: 0;
}

.switch-label {
    display: inline-block;
    width: 2rem;
    padding: .75rem;
    text-align: center;
    cursor: pointer;
    transition: color 200ms ease-out;
    font-size: 1rem;
    --magnification: 2;
}
.switch-label:hover {
    color: var(--hover-color);
}
.switch-indicator {
    position: absolute;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    top: -0.5rem;
    left: -1.05rem;
    background: radial-gradient(circle at 50% 55%, rgba(55, 186, 255, 0.9), rgba(55, 186, 255, 0.9) 40%, rgba(36, 181, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    opacity: .6;
    border-radius: 50%;
    transition: transform 800ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
    --indicator-initial-translateX: 1rem;
    --label-width: 2.3rem;
    transform: translateX(var(--indicator-initial-translateX));
}
.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
}
.switch-indicator:before {
    content: '';
    position: absolute;
    top: 1%;
    left: 5%;
    border-radius: 100%;
    z-index: 2;
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.switch-indicator:after {
    content: '';
    position: absolute;
    display: block;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    filter: blur(1px);
    z-index: 2;
    transform: rotateZ(-30deg);
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
    box-shadow: -0.5px -3px 3px 3px #FFF3 ,2px 13px 5px 5px #0002;
}

/*      -       animate shrinking     -       */
.switch-label {
    transition: transform 50ms linear;
}

/*      -       hide checkboxes       -        */
.radio-panel input[type=radio]:not(:checked), .radio-panel input[type=radio]:checked {
    display: none;
}

/*      -       animate magnification       -       */
input#s1:checked ~ .switch-label[for="s1"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s2:checked ~ .switch-label[for="s2"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s3:checked ~ .switch-label[for="s3"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s4:checked ~ .switch-label[for="s4"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s5:checked ~ .switch-label[for="s5"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s6:checked ~ .switch-label[for="s6"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s7:checked ~ .switch-label[for="s7"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s8:checked ~ .switch-label[for="s8"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
input#s9:checked ~ .switch-label[for="s9"] {
    transform: scale(var(--magnification));
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}


/*  animate sliding  -  Set width of .switch-label and --label-width of .switch-indicator */
input#s1:checked ~ .switch-indicator {
    transform: translateX(var(--indicator-initial-translateX));
}
input#s2:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width)));
}
input#s3:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width) * 2 ));
}
input#s4:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width) * 3 ));
}
input#s5:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width) * 4 ));
}
input#s6:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width) * 5 ));
}
input#s7:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width) * 6 ));
}
input#s8:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width) * 7 ));
}
input#s9:checked ~ .switch-indicator {
    transform: translateX(calc(var(--indicator-initial-translateX) + var(--label-width) * 8 ));
}
