@page "/"
@using PokeCards.Services
@using PokeCards.Data
@inject PokeapiService PokeapiService 

<PageTitle>PokeCards</PageTitle>

<h1>Pokemon Types</h1>

<div>
    <ul>
        @foreach (var pokemonType in _pokemonTypes)
        {
            <li>@pokemonType.Name <img src="@pokemonType.IconUrl" class="img img-pokemon" alt="@pokemonType.Name"></li>  
        }
    </ul>
</div>

@code
{
    private List<PokemonType> _pokemonTypes = new ();

    protected override async Task OnInitializedAsync()
    {
        _pokemonTypes = PokemonTypes.GetAll();
        await PokeapiService.GetAllPokemonAsync();
    }
}
