@page "/species"
@page "/species/{Id:int}"
@using PokeCards.Data
@using PokeCards.Services
@using System.Diagnostics
@inject PokeapiService _pokeapiService
@inject PokemontcgService _pokemontcgService;

<PageTitle>Generations</PageTitle>

<h2>@Pokemon.Name</h2>

<h4> Evolves from: </h4>

<div class="species-hero">
    <SpeciesCard Pokemon="Pokemon" AlwaysInFocus="true"></SpeciesCard>
</div>

<h4>Evolves to:</h4>

<h4>Cards:</h4>

<div class="card-grid-container">
    <div class="card-list">
        @foreach (var card in Cards)
        {
            <div class="card">
                <img src="@card.ImageUrl" alt=""/>
                <p>@card.Name</p>
            </div>
        }
    </div>
</div>




@code {
    private Pokemon Pokemon = new();
    private List<Card> Cards = new();
    private Stopwatch firstSw = new();
    private Stopwatch sw = new ();
    
    [Parameter]
    public int Id { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        firstSw.Start();
        Pokemon = await _pokeapiService.GetPokemonAsync(Id);
        Cards = await _pokemontcgService.GetAllCardsWithAsync(Id); //TODO implement caching with resilience
        sw.Start();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            sw.Stop();
            firstSw.Stop();
            Console.WriteLine($"Render took: {sw.ElapsedMilliseconds} ms");
            Console.WriteLine($"Page took in total: {firstSw.ElapsedMilliseconds} ms");
        }
        return base.OnAfterRenderAsync(firstRender);
    }

}