@page "/species"
@page "/species/{Id}"
@using PokeCards.Data
@using System.Reflection.Metadata
@using PokeCards.Services
@inject PokeapiService _pokeapiService

<PageTitle>Generations</PageTitle>

<h2>@Pokemon.Name</h2>

<h4> Evolves from: </h4>

<div class="species-hero">
    <SpeciesCard Pokemon="Pokemon" AlwaysInFocus="true"></SpeciesCard>
</div>

<h4>Evolves to:</h4>
@code {
    private Pokemon Pokemon = new();
    
    [Parameter]
    public string Id { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Pokemon = await _pokeapiService.GetPokemonAsync(Id);
    }

}