@page "/species"
@page "/species/{Id}"
@using PokeCards.Data
@using PokeCards.Services
@inject PokeapiService _pokeapiService
@inject PokemontcgService _pokemontcgService;

<PageTitle>Generations</PageTitle>

<h2>@Pokemon.Name</h2>

<h4> Evolves from: </h4>

<div class="species-hero">
    <SpeciesCard Pokemon="Pokemon" AlwaysInFocus="true"></SpeciesCard>
</div>

<h4>Evolves to:</h4>

<h4>Cards:</h4>

<div class="card-list">
    @foreach (var card in Cards)
    {
        <img src="@card.ImageUrl"/>
        <p>@card.Name</p>
    }
</div>

<hr/>


@code {
    private Pokemon Pokemon = new();
    private List<Card> Cards = new();
    
    [Parameter]
    public string Id { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Pokemon = await _pokeapiService.GetPokemonAsync(Id);
        Cards = await _pokemontcgService.GetAllCardsWithAsync(Id);
    }

}