@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --hue-var: 0;
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    background: linear-gradient(180deg, rgba(51,102,254,1) 0%, rgba(69,2,149,1) 100%) no-repeat fixed;
    color: white;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }


.pokemon-container {
    width: 100%;
}
.pokemon-list {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2rem;
}

.card-wrapper {
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.species-card {
    position: relative;
    display: inline-block;
    width: 100%;
    outline: 1px solid rgba(46,3,98,0.5);
    padding: 1rem .5rem 1rem .5rem;
    border-radius: .5rem;
    place-items: center;
    text-align: center;
    background: url(../Images/Logos/card-background-GX.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, .65);
    /*box-shadow: 4px 5px 15px 2px rgba(0, 0, 0, 0.45);*/
    color: #fa7ae8;
    text-shadow: 2px 1px black;
}

.species-card::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .5rem;
    background: url(../Images/Logos/GX-card-window.png) no-repeat;
    background-size: cover;
    opacity: .25;
}
.species-card:hover::after {
    opacity: 0;
}

.card-wrapper:hover::before,
.card-wrapper:hover::after {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: .5rem;
    background: linear-gradient(45deg, #fb0094, #0000FF, #00FF00, #FFFF00, #fb0094, #0000FF, #00FF00, #FFFF00);
    background-size: 400%;
    z-index: -1;
    animation: rainbow-wave 10s linear infinite;
}

.card-wrapper:hover::after {
    filter: blur(15px);
}

@keyframes rainbow-wave {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }

}


.img-pokemon {
    max-width: 80%;
    margin-bottom: 0.2rem;
}

.species-card > p {
    font-size: .8rem;
    margin-bottom: 0.5rem;
}

.species-card > h5 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.species-card:hover {
    color: hsl(80, 100%, 50%);
}

@media (max-width: 399px) {
    .pokemon-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .species-card > h5 {
        font-size: 5vw;
    }
}

/*generations.razor.css*/
.switch {
    position: relative;
    width: 20rem;
    height: 3rem;
    padding: 0 1rem;
    z-index: 0;
}

.switch:before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3rem;
    background: linear-gradient(180deg, rgba(111,23,245,1) 0%, rgba(59,4,125,1) 100%);
    border-radius: 1000vw;
}
.switch-label {
    display: inline-block;
    width: 2rem;
    padding: .75rem;
    text-align: center;
    cursor: pointer;
    transition: color 200ms ease-out;
    font-size: 1rem;
}
.switch-label:hover {
    color: white;
}
.switch-indicator {
    position: absolute;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    top: -0.5rem;
    left: -1.05rem;
    background: radial-gradient(circle at 50% 55%, rgba(55, 186, 255, 0.9), rgba(55, 186, 255, 0.9) 40%, rgba(36, 181, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    opacity: .6;
    border-radius: 50%;
    transition: transform 800ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
    transform: translate3d(1rem, 0, 0);
}
.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
}
.switch-indicator:before {
    content: '';
    position: absolute;
    top: 1%;
    left: 5%;
    border-radius: 100%;
    z-index: 2;
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.switch-indicator:after {
    content: '';
    position: absolute;
    display: block;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    filter: blur(1px);
    z-index: 2;
    transform: rotateZ(-30deg);
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
    box-shadow: -0.5px -3px 3px 3px #FFF3 ,2px 13px 5px 5px #0002;
}

.switch-label {
    transition: transform 50ms linear;
}
.switch input#s1:checked ~ .switch-label[for="s1"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
.switch input#s2:checked ~ .switch-label[for="s2"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
.switch input#s3:checked ~ .switch-label[for="s3"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
.switch input#s4:checked ~ .switch-label[for="s4"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
.switch input#s5:checked ~ .switch-label[for="s5"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
.switch input#s6:checked ~ .switch-label[for="s6"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
.switch input#s7:checked ~ .switch-label[for="s7"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}
.switch input#s8:checked ~ .switch-label[for="s8"] {
    transform: scale(2);
    transition: transform 400ms cubic-bezier(.71,.04,.55,.9);
}

.switch input#s1:checked ~ .switch-indicator {
    transform: translate3d(1rem, 0, 0);
}
.switch input#s2:checked ~ .switch-indicator {
    transform: translate3d(3.3rem, 0, 0);
}
.switch input#s3:checked ~ .switch-indicator {
    transform: translate3d(5.6rem, 0, 0);
}
.switch input#s4:checked ~ .switch-indicator {
    transform: translate3d(7.9rem, 0, 0);
}
.switch input#s5:checked ~ .switch-indicator {
    transform: translate3d(10.2rem, 0, 0);
}
.switch input#s6:checked ~ .switch-indicator {
    transform: translate3d(12.5rem, 0, 0);
}
.switch input#s7:checked ~ .switch-indicator {
    transform: translate3d(14.8rem, 0, 0);
}
.switch input#s8:checked ~ .switch-indicator {
    transform: translate3d(17.1rem, 0, 0);
}
.switch input[type=radio]:not(:checked), .switch input[type=radio]:checked {
    display: none;
}

/* Species.razor.css */

.species-hero {
    max-width: 300px;
}

