@using PokeCards.Data
@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PokeCards</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="nav-bar flex-column">
        
        <input type="radio" class="nav-link" id="home" name="nav-switch" value="/" @onchange="RadioSelect" checked="@true"/>
        <label for="home" class="nav-item" id="btn-home">
            <span class="nav-icon oi oi-home" aria-hidden="true">
                <span class="nav-icon nav-icon-glow oi oi-home" aria-hidden="true"></span>
            </span>
        </label>

        <input type="radio" class="nav-link" id="generations" name="nav-switch" value="/generations" @onchange="RadioSelect"/>
        <label for="generations" class="nav-item" id="btn-generations">
            <span class="nav-icon oi oi-list-rich" aria-hidden="true">
                <span class="nav-icon nav-icon-glow oi oi-list-rich" aria-hidden="true"></span>
            </span>
        </label>

        <input type="radio" class="nav-link" id="favorites" name="nav-switch" value="/favorites" @onchange="RadioSelect"/>
        <label for="favorites" class="nav-item" id="btn-favorites">
            <span class="nav-icon oi oi-heart" aria-hidden="true">
                <span class="nav-icon nav-icon-glow oi oi-heart" aria-hidden="true"></span>
            </span>
        </label>

        <input type="radio" class="nav-link" id="search" name="nav-switch" value="/fetchdata" @onchange="RadioSelect"/>
        <label for="search" class="nav-item" id="btn-search">
            <span class="nav-icon oi oi-magnifying-glass" aria-hidden="true">
                <span class="nav-icon nav-icon-glow oi oi-magnifying-glass" aria-hidden="true"><svg></svg></span>
            </span>
        </label>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}

@code
{
    private int _selectedGeneration = 1;
    private string _link = "";
    private List<Pokemon> _pokemonList = new ();
    private IEnumerable<Pokemon> _pokemons = ArraySegment<Pokemon>.Empty;
    

    private void RadioSelect(ChangeEventArgs args)
    {
        NavigationManager.NavigateTo(args.Value?.ToString() ?? "/");
    }
    
}